@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$white: #fff;
$black: #000;
$yellow: #fff51f;
$gray: #333333;
$orange: #fb4d01;
$footer-first: #002414;
$footer-second: #00341e;
$primary-font: 'Roboto', sans-serif;
$seconday-font: 'Raleway', sans-serif;
$banner-font: 'Poppins', sans-serif;
